<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>　

<body>
    <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal item header">博客详情页</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="small home icon"></i> 首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i> 分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i> 标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small clone icon"></i> 归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small info icon"></i> 关于我</a>
                <div class="right m-item item m-mobile-hide" >
                    <div class="ui icon inverted  input">
                        <input type="text" placeholder="search ...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!----header--->
            <div class="ui top teal attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">归类</h3>
                    </div>
                    <div class="right aligned column">
                        共<h3 class="ui orange header m-inline-block m-text-thin">10</h3>条记录
                    </div>
                </div>
            </div>
            <!---content--->
            <h2 class="ui center aligned header">2017</h2>
            <div class="ui fluid vertical menu">
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清淡
                        <div class="ui teal basic left pointing label m-padded-mini">9月02日</div>
                    </span>
                    <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清淡
                        <div class="ui teal basic left pointing label m-padded-mini">9月02日</div>
                    </span>
                    <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清淡
                        <div class="ui teal basic left pointing label m-padded-mini">9月02日</div>
                    </span>
                    <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清淡
                        <div class="ui teal basic left pointing label m-padded-mini">9月02日</div>
                    </span>
                    <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="mini teal circle icon"></i>关于刻意练习的清淡
                        <div class="ui teal basic left pointing label m-padded-mini">9月02日</div>
                    </span>
                    <div class="ui orange basic left pointing label m-padded-mini">原创</div>
                </a>

            </div>

            <br>
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui mini teal basic button">Prev Page</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">Next Page</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <br>
    <br>
    <!--底部部分-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 100px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">今日最佳</a>
                        <a href="#" class="item">活跃话题</a>
                        <a href="#" class="item">查看最多</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted link header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email: t42huang@gmail.com</a>
                        <a href="#" class="item">QQ: 12345243</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">关于我</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的博客，会分享关于编程，写作，思考相关的内容，希望可以给您快乐，解决一些问题，欢迎留言评论</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny"> Copyright @ 2020 - 2021 Designed by Tina Huang</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        })

    </script>
    </body>
</html>